html {
    height: 100%;
}

body {
    background-color: #2F3035;
    background-image: url(images/background-image-register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 100px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.030);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

main {
    height: 500px;
    text-align: right;
    padding-top: 20px;
    padding-right: 150px;
}

form {
    color: rgba(0, 0, 0, 0.700);
    text-align: right;
}

.input {
    padding: 10px;
}

.button
{
    color: rgba(0, 0, 0, 0.600);
}

footer {
    background-color: rgba(0, 0, 0, 0.070);
    padding-top: 1px;
    padding-bottom: 1px;
}


footer p {
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color:  rgba(0, 0, 0, 0.600);
}

p {
    padding-right: 45px;
    font-size: 35px;
    color:  rgba(0, 0, 0, 0.600);
}