html {
    height: 100%;
}

body {
    background-color: #2F3035;
    background-image: url(../images/background-image-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 100px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.030);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

main {
    height: 350px;
    text-align: center;
    padding-top: 150px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.070);
    padding-top: 1px;
    padding-bottom: 1px;
}

footer p {
    color: rgba(0, 0, 0, 0.420);
    text-align: center;
    font-size: 12px;
}

h1 {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.420);
}

a {
    color:  rgba(0, 0, 0, 0.600);
}

nav a {
    font-size: 14px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}