@model Assignment_3.Models.Employee
@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>

<h3>First Name : </h3> @Model.FirstName <br />

<h3>Last Name : </h3> @Model.LastName <br />

<h3>ID : </h3> @Model.EmployeeId